/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: black;
  text-decoration: none;
}

/* CSS GLOBAL VARIABLES */
:root {
  --main-font: 'Be Vietnam Pro', sans-serif;
  --primary-color: #ff9500;
  --primary-white: #ffffff;
}

/* HOMEPAGE STYLES */

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
header {
  margin: 16px;
}
.top-banner {
  background-color: var(--primary-color);
  color: var(--primary-white);

  margin-top: 40px;
  padding: 10px 16px;

  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.top-banner p {
  font-size: 14px;
  margin-right: 15px;
  line-height: 150%;
}
.top-banner img {
  height: 12px;
}

/* NAVBAR */
.navbar {
  padding: 14px 0;
  display: flex;
  gap: 20px;
}
.navbar .logo {
  height: 40px;
}
.navbar nav {
  display: none;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 10px;
}

.signup-btn {
  background-color: transparent;
  border: none;
  outline: none;

  line-height: 150%;
  font-size: 14px;
}

.login-btn {
  background-color: var(--primary-color);
  color: var(--primary-white);

  border: none;
  outline: none;
  border-radius: 6px;

  padding: 12px 20px;

  line-height: 150%;
  font-size: 14px;
}

/* HERO SECTION */
.hero-section {
  margin: 50px 16px 30px 16px;
}

.hero-motto {
  padding: 14px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.images-container {
  position: relative;
  height: 100%;
}

.lighting-icon {
  height: 21px;
}

.lines-icon {
  height: 43px;
  position: absolute;
  top: -50px;
  left: -40px;
}

.hero-motto p {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.highlight {
  color: var(--primary-color);
}

.hero-content {
  padding: 0 30px;
  margin-top: 26px;
  text-align: center;
}

.hero-content h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.hero-content p {
  margin-top: 6px;
  font-size: 14px;
  line-height: 150%;
}

.hero-btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.hero-btn {
  padding: 14px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 150%;
}

.explore-btn {
  background-color: var(--primary-color);
  color: var(--primary-white);
  font-weight: 600;
}

/* PARTNERS SECTION */
.partners-section {
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.partners-section img:nth-child(n + 4) {
  display: none;
}

/* VIDEO SECTION */
.video-section {
  margin: 60px 16px 50px 16px;
  max-width: 1596px;
  position: relative;
}

.video-thumbnail {
  width: 100%;
  border-radius: 16px;
  max-width: 1596px;
}

.playBtn-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

/* BENEFITS SECTION */
.section-header {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.benefits-section {
  margin: 0 16px;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
}

.section-description {
  margin: 4px 0px 34px 0px;
  font-size: 14px;
  line-height: 150%;
  max-width: 933px;
  color: #59595a;
}

.section-link {
  padding: 14px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.benefits {
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 20px;
}

.benefit-card {
  padding: 30px;
  max-width: 520px;
}

.benefit-number {
  font-size: 50px;
  font-weight: 700;
  text-align: right;
}

.benefit-info {
  margin: 30px 0px;
}

.benefit-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.6%;
  color: #333333;
}

.benefit-description {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #4c4c4d;
}
.benefit-link-container {
  padding: 14px;
  width: fit-content;
  margin-left: auto;
}

/* COURSES SECTION */
.courses-section {
  margin: 50px 16px 50px 16px;
}

.courses {
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 20px;
}

.course-card {
  padding: 24px;
  max-width: 780px;
}

.course-img {
  width: 100%;
  height: 172px;
  object-fit: cover;
  border-radius: 8px;
}

.course-info{
  display: flex;
  flex-direction: column;
}

.tags {
  margin-top: 24px;

  display: flex;
  gap: 10px;
}

.tags p {
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #4c4c4d;
}

.course-author {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;

  color: #262626;
}

.course-title {
  margin-top: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.course-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #4c4c4d;
  margin-top: 10px;
}

.course-link-container {
  margin-top: 24px;
  padding: 14px 0px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-link-container a {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #262626;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  margin: 0px 16px 50px 16px;
}

.testimonials{
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 20px;
}

.testimonial-card {
  padding: 30px;
  max-width: 780px;
}

.testimonial-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4c4c4d;
}

.testimonial-info {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-person img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}

.testimonial-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.testimonial-link {
  padding: 14px 16px;
}

.testimonial-link a {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #262626;
}

/* PRICING SECTION */
.pricing-section {
  margin: 0px 16px 50px 16px;
}

.pricings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.pricing-btns {
  display: flex;
  justify-content: center;
}

.pricing-btn {
  padding: 12px 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #4c4c4d;
}

.monthly {
  background-color: var(--primary-color);
  color: var(--primary-white);
  border-radius: 6px;
}

.pricing-card {
  padding: 30px 20px;
  max-width: 700px;
}

.category {
  font-weight: 500;
  font-size: 16px;
  line-height: 169%;
  color: #262626;

  text-align: center;
  padding: 8px 22px;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
}

.price {
  font-weight: 600;
  font-size: 50px;
  line-height: 73%;
  color: #262626;
}
.price p {
  font-weight: 500;
  font-size: 14px;
  color: #4c4c4d;
}

.features {
  margin-top: 30px;
  padding: 30px;
}

.features h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #262626;
  margin-bottom: 20px;
  text-align: center;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  padding: 12px;
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4C4C4D;
}

.feature img {
  margin-right: 8px;
}

.feature-link-container{
    padding: 18px 24px;
    text-align: center;
    background-color: var(--primary-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.feature-link-container a{
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--primary-white);
}


/* Q&A SECTIONS */
.q-section{
  padding: 24px;
  margin: 0px 16px;;
}

.questions{
  display: flex;
  flex-direction: column;
  gap:30px;

  max-width: 867px;
}

.question-card{
  padding: 24px;
}

.question-header{
  display: flex;
  justify-content: space-between;
}

.question{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #262626;

  flex: 0.8;
}

.toggle-icon{
  width: 12px;
}

.toggle-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #FFF4E5;
}

.answer{
  margin: 20px 0;

  color: #4C4C4D;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.question-link-container{
  padding: 12px 20px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.question-link-container a{
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.questions .question-card:nth-child(n+2) .answer-container{
  display: none;
}

.active .toggle-icon{
  transform: rotate(45deg);
}



/* FOOTER SECTION */
footer{
  margin-top: 50px;
  padding: 50px 20px 24px 20px;
}

.footer-top{
  display: flex;
  flex-direction: column;
}

.footer-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo{
  height: 44px;
}

.social-links{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link{
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
}

.link img{
  height: 21px;
}

.link a{
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #262626;

  display: flex;
  align-items: center;
}

.footer-links{
  margin-top: 24px;
  display: flex;
  gap: 30px;
}

.link-category h3{
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;

  color: #262626;
  margin-bottom: 10px;
}

.link-category ul a{
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #59595A;
}

.social-media{
  margin-top: 24px;
}

.social-media h2{
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #262626;
}

.social-media div{  
  display: flex;
  gap: 14px;
}

.social-media img{
  width: 20px;
}

.social-media-link-container{
  margin-top: 10px;
  padding: 12px;
}


.footer-bottom{
  margin-top: 40px;
}

.footer-bottom p{
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #656567;
  text-align: center;
}




/*-----------------Media Queries----------------- */
/* ----------------- b) iPads, Tablets – 481px—768px ----------------- */
@media (min-width: 481px) {
  .hero-motto p {
    font-size: 18px;
  }

  .partners-section img:nth-child(-n+5) {
    display: block !important;
  }

  .benefits {
    grid-template: 1fr / 1fr 1fr;
  }

  .courses {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
  }

  .footer-top{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-menus{
    flex-direction: column;
  }
}

/* ----------------- c) Small screens, laptops – 769px—1024px ----------------- */
@media (min-width: 769px) {
  .navbar .logo {
    height: 44px;
    margin-right: 50px;
  }

  .navbar nav {
    display: flex;
  }

  .navbar nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
  }

  .navbar nav ul li{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #262626;
  }

  .menu-icon{
    display: none;
  }

  .hero-content{
    margin-top: 16px;
  }

  .hero-motto p {
    font-size: 22px;
  }
  
  .hero-content h3 {
    font-size: 30px;
  }

  .hero-content p {    
    font-size: 16px;
  }

  .partners-section img {
    display: block !important;
  }

  .testimonials{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
  }

  .testimonial-text{
    min-height: 80px;
  }

  .pricings{
    flex-direction: row;
    gap: 30px;
  }

  .features{
    min-height: 620px;
  }

  .footer-menus{
    justify-content: space-between;
    flex-direction: row;
  }
}

/* ----------------- d) Desktops, large screens – 1025px—1200px ----------------- */
@media (min-width: 1025px) {
  .navbar{
    padding: 14px 60px;
  }

  section{
    padding: 0 60px !important;
  }

  .hero-section{
    margin-top: 80px;
  }
  .hero-motto p {
    font-size: 36px;
  }
  
  .hero-content h3 {
    font-size: 28px;
  }

  .hero-content p {    
    font-size: 16px;
  }

  .hero-btn{
    min-width: 154px;
  }

  .partners-section{
    margin-top: 100px;
    gap: 60px;
  }

  .video-section{
    margin: 80px 76px 0px 76px;
    padding: 0 !important;
  }

  .benefits-section{
    margin-top: 100px;
  }

  .section-title{
    font-size: 38px;
  }

  .section-description{
    font-size: 16px;
  }

  .benefit-number{
    font-size: 60px;
  }

  .benefit-description {
    font-size: 16px;
  }

  .courses-section{
    margin-top: 100px;
  }

  .course-info{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .course-author{
    margin-top: 24px;
  }

  .course-title{
    font-size:20px;
  }
  .course-description{
    font-size: 16px;
    min-height: 100px;
  }

  .testimonial-section{
    margin-top: 100px;
  }

  .testimonial-text{
    font-size: 16px;
  }

  .pricing-section{
    margin-top: 100px;
  }

  .category{
    font-size: 18px;
  }

  .price{
    font-size: 60px;
  }

  .q-section{
    margin-top: 100px;
  }

  footer{
    margin-top: 100px;
    padding: 0 60px !important;
  }
  .footer-menus{
    display: flex;
    justify-content: space-evenly;
    flex: 0.6;
  }
  .footer-links{
    gap: 60px; 
    flex-shrink: 1;
  }
}

/* ----------------- e) Extra large screens, TV – 1201px+ ----------------- */
@media (min-width: 1201px) {
  .top-banner {
    margin-top: 20px;
    padding: 10px 14px;
  }

  .top-banner p {
    font-size: 18px;
    margin-right: 23px;
  }

  .top-banner img {
    height: 16px;
  }



  .navbar {
    padding: 20px 132px 24px 132px;
    gap: 20px;
  }
  .navbar .logo {
    height: 54px;
  }

  .auth-buttons {
    gap: 30px;
  }

  .signup-btn {
    font-size: 18px;
  }

  .login-btn {
    padding: 14px 34px;

    font-size: 18px;
  }

  .navbar nav ul li{
    font-size: 18px;
  }


  section{
    padding: 0 132px !important;
  }


  /* HERO SECTION */
  .hero-motto {
    padding: 14px 30px 14px 20px;
  }

  .images-container {
    position: relative;
    height: 100%;
  }

  .lighting-icon {
    height: 30px;
  }

  .hero-motto p {
    font-size: 48px;
  }

  .hero-content {
    padding: 0 30px;
    margin-top: 20px;
  }

  .hero-content h3 {
    font-size: 38px;
  }

  .hero-content p {
    margin-top: 10px;
    font-size: 18px;
  }

  .hero-btns {
    margin-top: 60px;
  }

  .hero-btn {
    padding: 18px 24px;
    font-size: 18px;
  }

  .partners-section {
    gap: 130px;
    flex-wrap: wrap;
  }

  .partners-section img {
    height: 30px;
  }

  .video-section{
    margin: 100px 132px 0px 132px;
  }


  .benefits-section {
    margin-top: 150px;
  }
  .section-header {
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .section-title {
    font-size: 48px;
  }

  .section-description {    
    font-size: 18px;
  }

  .section-link {
    padding: 18px 24px;
    font-size: 18px;
    align-self: flex-end;
  }

  .benefits {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 50px;
  }

  .benefit-card {
    padding: 50px;
  }

  .benefit-number {
    font-size: 80px;
    text-align: right;
  }

  .benefit-info {
    margin: 50px 0px;
  }

  .benefit-title {
    font-size: 24px;
  }

  .benefit-description {
    margin-top: 14px;
    font-size: 18px;
  }

  .benefit-link-container {
    padding: 20px;
  }

  .benefit-link-container img{
    height: 17px;
  }

  .courses {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
  }

  .course-card {
    padding: 50px;
    max-width: 780px;
  }

  .course-img {
    height: 380px;
  }

  .tags {
    margin-top: 30px;
  }

  .tags p {
    padding: 10px 16px;
    font-size: 18px;
  }

  .course-author {
    margin-top: 30px;
    font-size: 20px;
  }

  .course-title {
    margin-top: 30px;
    font-size: 24px;
  }

  .course-description {
    font-size: 18px;
    margin-top: 14px;
  }

  .course-link-container {
    margin-top: 30px;
    padding: 18px 24px;
  }
  .course-link-container a {
    font-size: 18px;
  }


  /* TESTIMONIAL SECTION */
  .testimonials{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 30px;
  }

  .testimonial-card {
    padding: 50px;
  }

  .testimonial-text {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .testimonial-person {
    gap: 15px;
  }

  .testimonial-person img {
    width: 60px;
    height: 60px;
  }

  .testimonial-name {
    font-size: 18px;
  }

  .testimonial-link {
    padding: 18px 24px;
  }

  .testimonial-link a {
    font-size: 18px;
  }

  .pricing-section {
    margin-top: 100px;
  }

  .pricings{
    flex-direction: row;
  }

  .pricing-btn {
    padding: 14px 30px;
    font-size: 18px;
  }

  .pricing-card {
    padding: 50px 30px;
  }

  .category {
    font-size: 22px;
    padding: 12px 22px;
  }

  .pricing-container {
    margin-top: 50px;
  }

  .price {
    font-size: 80px;
  }

  .price p {
    font-size: 20px;
  }

  .features {
    margin-top: 50px;
    padding: 40px;
  }

  .features h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .feature {
    padding: 14px;
    
    font-size: 18px;
  }

  .feature img {
    margin-right: 14px;
    height: 32px;
    width: 32px;
  }

  .feature-link-container{
      padding: 20px 24px;
  }

  .feature-link-container a{
      font-size: 18px;
  }

  .q-section{
    margin-top: 150px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 120px;
  }

  .q-section .section-header{
    flex-direction: column;
    flex: 0.7;
  }

  .q-section .section-link{
    align-self: flex-start;
  }

  .questions{
    gap:50px;
  }

  .question-card{
    padding: 30px 50px;
  }

  .question-header{
    display: flex;
    justify-content: space-between;
  }

  .question{
    font-size: 20px;
    flex: 0.8;
  }

  .toggle-icon{
    width: 17px;
  }

  .toggle-icon-container{
    padding: 12px;
  }

  .answer{
    margin: 50px 0;

    font-size: 18px;
  }

  .question-link-container{
    padding: 20px 30px;
  }

  .question-link-container a{
    font-size: 18px;
  }






  /* FOOTER SECTION */
  footer{
    margin-top: 100px;
    padding: 100px 162px 30px 162px !important;
  }

  .footer-logo{
    height: 54px;
  }

  .social-links{
    margin-top: 40px;
    gap: 20px;
  }

  .link{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .link-icon-container{
    width: 21px;
    height: 21px;
  }

  .link img{
    height: 21px;
  }

  .link a{
    font-size: 18px;
  }

  .link-category h3{
    font-size: 20px;
    margin-bottom: 14px;
  }

  .link-category ul a{
    font-size: 18px;
  }

  .social-media h2{
    font-size: 20px;
  }

  .social-media img{
    width: 20px;
  }

  .social-media-link-container{
    margin-top: 14px;
    padding: 14px;
  }


  .footer-bottom{
    margin-top: 100px;
  }

  .footer-bottom p{
    font-size: 18px;
  }
}

/*-----------------End of Media Queries----------------- */
